<div *ngIf="selectedGenericdrug">
  <div class="row">
    <div class="col">
      <app-title [title]="'Generic Drug: ' + selectedGenericdrug"></app-title>
    </div>
    <div class="col text-end mt-1">
      <button class="btn btn-warning" (click)="back()">Generic Drugs List</button>
    </div>
  </div>
  <form>
    <div class="form-group mb-3">
      <label class="mb-2" for="formGroupExampleInput">Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label class="mb-2" for="formGroupExampleInput2">Active Ingredient</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label class="mb-2" for="formGroupExampleInput2">Laboratory</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label class="mb-2" for="formGroupExampleInput2">Expiration Date</label>
      <input type="date" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label class="mb-2" for="formGroupExampleInput2">Quantity</label>
      <input type="number" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label class="mb-2" for="formGroupExampleInput2">Price</label>
      <input type="text" class="form-control" (input)="formatPrice($event)">
    </div>
  </form>
</div>

<div *ngIf="!selectedGenericdrug">
  <app-title [title]="title"></app-title>
  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Active Ingredient</th>
        <th>Laboratory</th>
        <th>Expiration Date</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let genericdrug of genericdrugsList" style="cursor: pointer;" (click)="selectGenericdrug(genericdrug)">
        <td>{{genericdrug.id}}</td>
        <td>{{genericdrug.name}}</td>
        <td>{{genericdrug.Active_ingredient}}</td>
        <td>{{genericdrug.Laboratory}}</td>
        <td>{{genericdrug.Expiration_Date}}</td>
        <td>{{genericdrug.Quantity}}</td>
        <td>{{genericdrug.Price}}</td>
      </tr>
    </tbody>
  </table>
</div>


